body, div, dl, dt,dd, ul,ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, hr, td {
  margin:0; padding:0;
  }	
  table {
    border-collapse:collapse; border-spacing:0;
  }
  fieldset, img {
    border:0;
  }
  address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal; font-weight:normal;
  }
  ol, ul {
    list-style:none;
  }
  caption, th {
    text-align:left;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size:100%; font-weight:normal;
  }
  q:before, q:after {
    content:'';
  }
  abbr, acronum {
    border:0;
  }
body,html {
  height: 100%;
}
body{

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.titleHobby{
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
  padding-top: 5%;
  font-family: Proxima Nova;
  background-image: url(images/logo.png);
  font-size: 65px;
  line-height: 75px;
  text-align: right;
  color: aliceblue;
  background-color: #6A51B1;
  
}
.slider_wrap {
	margin:100px auto 0;
	width:60%;
	height: 400px;
	position:relative;
  overflow:hidden;
  padding-bottom: 10%;
  
}
.slider_wrap img {
	width:100%;
	height:auto;
	display:none;
	position:absolute;
	top:0;
  left:0;	
  margin: auto 0;
  
}
.slider_wrap img:first-child {
	display:block;
}
.content{
  flex: 1 0 auto;
}
.footer{
  flex-shrink: 0;
  padding:20px;
  background-color: red;
}
.main-nav{
  margin:0;
  padding:0;
  list-style:none;
  display: flex;
}
.main-nav li a{
  text-decoration: none; 
  color: white;
}

.main-nav li {
  background-color: #6A51B1;
  color: white;
  text-decoration: none;
  display: block;
  padding:20px;
}

header{
  display:flex;
  justify-content: center;
}
.description{
  display: flex;
  padding-left: 10%;
  margin: 0 5%;
  padding-bottom: 5%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  

}
.textDescription{
  margin: auto 0;
  width: 30%;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  
}
.guide{

  display:flex;
  padding-left: 10%;
  margin: 0 auto;
  background-color: beige;
  text-align: left;
  padding: 10px;
  justify-content: center;
}
.textGuide{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  width: 25%;
  height: 20%;
  padding-bottom: 5%;
  padding-right: 5%;
}
.help{
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 10px;
}
.clickButton{
  min-width: 350px;
  height: 70px;
  border-radius: 10px;
  color: white;
  background-color: #6A51B1;
}
.hard{
  justify-content: center;
  display:flex;
  padding: 20px;

}